<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PubCite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PubCite.Properties.Settings>
            <setting name="PubCite_com_microsoft_research_academic_APIService"
                serializeAs="String">
                <value>http://academic.research.microsoft.com/common/api/API.svc</value>
            </setting>
        </PubCite.Properties.Settings>
    </applicationSettings>
</configuration>